@charset "UTF-8";
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SF-UI-Display-Regular.eot");
  src: local("☺"), url("../fonts/SF-UI-Display-Regular.woff") format("woff"), url("../fonts/SF-UI-Display-Regular.ttf") format("truetype"), url("../fonts/SF-UI-Display-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

body {
  background-color: #FCFCFC;
}

header {
  background-color: white;
}

a {
  transition: 0.3s ease;
}

.logo {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #273142;
  font-family: Roboto, sans-serif;
}

.category {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #273142;
  font-family: Gilroy;
  padding: 0;
  margin: 0 20px;
}
.category:hover {
  color: #61ADE5 !important;
  background-color: white !important;
}

.search {
  border: 0;
  background: linear-gradient(84.48deg, #61ADE6 0%, #8FCBF6 100%);
  box-shadow: 0px 2px 15px rgba(97, 173, 229, 0.3);
  border-radius: 6px;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 14px 25px;
  height: 46px;
  font-family: Gilroy;
}
.search:hover {
  background: linear-gradient(#61ADE6 100%, #8FCBF6 100%);
  color: white;
}

.top {
  border: 0;
  background: linear-gradient(86.9deg, #6CD196 0%, #8EE9B4 100%);
  box-shadow: 0px 2px 15px rgba(108, 209, 150, 0.3);
  border-radius: 6px;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 14px 25px;
  height: 46px;
  font-family: Gilroy;
}
.top:hover {
  background: linear-gradient(#6CD196 100%, #8EE9B4 0%);
  color: white;
}

.buttons {
  margin-right: 25px;
}

.vertical_line {
  width: 1px;
  height: 46px;
  background-color: #F0F0F0;
  margin-top: -7px;
  margin-left: 17px;
}

.vertical_line_category {
  width: 1px;
  height: 46px;
  background-color: #F0F0F0;
  margin-top: 10px;
}

.message {
  border: 0;
  background-color: white;
  padding: 0;
  margin: 0 10px 0 25px;
}
.message img {
  max-height: none;
  width: 45px;
}

.avatar {
  border: 0;
  background-color: white;
  padding: 0;
}
.avatar img {
  max-height: none;
  width: 45px;
}

.header_selector {
  border: 0;
  background-color: white;
  padding: 0;
}
.header_selector img {
  transition: 1s;
}

.header_dropdown {
  display: flex;
}
.header_dropdown:hover {
  background: white !important;
  color: #61ADE5 !important;
}
.header_dropdown p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #273142;
  transition: 0.3s ease;
  margin: 5px 0 0 10px;
}
.header_dropdown p:hover {
  color: #61ADE5 !important;
}

.navbar-burger:hover {
  background-color: white;
}

.horizontal_line {
  width: 100%;
  border: 1px solid #F5F5F5;
  margin: 27px 0;
}

.footer_content {
  display: flex;
  justify-content: space-between;
}

.first_footer_block {
  background: #273242;
  padding: 30px 0;
}
.first_footer_block .footer_logo {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}
.first_footer_block .footer_context {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #888E97;
  margin-top: 8px;
}

.second_footer_block {
  background: #212B39;
  text-align: center;
  padding: 20px 0;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #888E97;
}

.first_footer_block_column2 {
  text-align: center;
  margin-top: 10px;
}
.first_footer_block_column2 a {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0 15px;
}

.first_footer_block_column3 {
  text-align: right;
}
.first_footer_block_column3 .first_context {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #888E97;
}
.first_footer_block_column3 .second_context {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-top: 8px;
  margin-bottom: 16px;
}

.navbar-burger span {
  height: 2px;
  width: 30px;
  border-radius: 2px;
}
.navbar-burger .third_burger {
  width: 20px;
  margin-left: 10px;
}

.navbar-burger.is-active .third_burger {
  width: 30px;
  margin-left: 0;
}

@media (max-width: 1087px) {
  .vertical_line_category, .my_application {
    display: none;
  }

  header {
    padding: 0 23px;
  }

  .navbar-item {
    padding: 0;
  }

  .navbar-menu {
    box-shadow: none;
  }

  .category {
    font-size: 20px;
    line-height: 24px;
    margin: 17px 0;
  }

  .search {
    width: 100%;
    margin-top: 63px;
  }

  .top {
    width: 100%;
    margin-top: 15px;
  }

  .navbar-menu {
    padding-top: 63px;
  }

  .footer_content {
    display: block;
  }

  .first_footer_block {
    padding: 23px;
  }

  .first_footer_block_column2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 35px;
  }
  .first_footer_block_column2 a {
    margin: 5px 0;
  }

  .first_footer_block_column3 {
    display: flex;
    text-align: left;
    margin-top: 35px;
  }
  .first_footer_block_column3 .first_context_block {
    margin-right: 30px;
  }
}
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SF-UI-Display-Regular.eot");
  src: local("☺"), url("../fonts/SF-UI-Display-Regular.woff") format("woff"), url("../fonts/SF-UI-Display-Regular.ttf") format("truetype"), url("../fonts/SF-UI-Display-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SF-UI-Display-Regular.eot");
  src: local("☺"), url("../fonts/SF-UI-Display-Regular.woff") format("woff"), url("../fonts/SF-UI-Display-Regular.ttf") format("truetype"), url("../fonts/SF-UI-Display-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

body {
  background-color: #FCFCFC;
}

header {
  background-color: white;
}

a {
  transition: 0.3s ease;
}

.logo {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #273142;
  font-family: Roboto, sans-serif;
}

.category {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #273142;
  font-family: Gilroy;
  padding: 0;
  margin: 0 20px;
}
.category:hover {
  color: #61ADE5 !important;
  background-color: white !important;
}

.search {
  border: 0;
  background: linear-gradient(84.48deg, #61ADE6 0%, #8FCBF6 100%);
  box-shadow: 0px 2px 15px rgba(97, 173, 229, 0.3);
  border-radius: 6px;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 14px 25px;
  height: 46px;
  font-family: Gilroy;
}
.search:hover {
  background: linear-gradient(#61ADE6 100%, #8FCBF6 100%);
  color: white;
}

.top {
  border: 0;
  background: linear-gradient(86.9deg, #6CD196 0%, #8EE9B4 100%);
  box-shadow: 0px 2px 15px rgba(108, 209, 150, 0.3);
  border-radius: 6px;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 14px 25px;
  height: 46px;
  font-family: Gilroy;
}
.top:hover {
  background: linear-gradient(#6CD196 100%, #8EE9B4 0%);
  color: white;
}

.buttons {
  margin-right: 25px;
}

.vertical_line {
  width: 1px;
  height: 46px;
  background-color: #F0F0F0;
  margin-top: -7px;
  margin-left: 17px;
}

.vertical_line_category {
  width: 1px;
  height: 46px;
  background-color: #F0F0F0;
  margin-top: 10px;
}

.message {
  border: 0;
  background-color: white;
  padding: 0;
  margin: 0 10px 0 25px;
}
.message img {
  max-height: none;
  width: 45px;
}

.avatar {
  border: 0;
  background-color: white;
  padding: 0;
}
.avatar img {
  max-height: none;
  width: 45px;
}

.header_selector {
  border: 0;
  background-color: white;
  padding: 0;
}
.header_selector img {
  transition: 1s;
}

.header_dropdown {
  display: flex;
}
.header_dropdown:hover {
  background: white !important;
  color: #61ADE5 !important;
}
.header_dropdown p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #273142;
  transition: 0.3s ease;
  margin: 5px 0 0 10px;
}
.header_dropdown p:hover {
  color: #61ADE5 !important;
}

.navbar-burger:hover {
  background-color: white;
}

.horizontal_line {
  width: 100%;
  border: 1px solid #F5F5F5;
  margin: 27px 0;
}

.footer_content {
  display: flex;
  justify-content: space-between;
}

.first_footer_block {
  background: #273242;
  padding: 30px 0;
}
.first_footer_block .footer_logo {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}
.first_footer_block .footer_context {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #888E97;
  margin-top: 8px;
}

.second_footer_block {
  background: #212B39;
  text-align: center;
  padding: 20px 0;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #888E97;
}

.first_footer_block_column2 {
  text-align: center;
  margin-top: 10px;
}
.first_footer_block_column2 a {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0 15px;
}

.first_footer_block_column3 {
  text-align: right;
}
.first_footer_block_column3 .first_context {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #888E97;
}
.first_footer_block_column3 .second_context {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-top: 8px;
  margin-bottom: 16px;
}

.navbar-burger span {
  height: 2px;
  width: 30px;
  border-radius: 2px;
}
.navbar-burger .third_burger {
  width: 20px;
  margin-left: 10px;
}

.navbar-burger.is-active .third_burger {
  width: 30px;
  margin-left: 0;
}

@media (max-width: 1087px) {
  .vertical_line_category, .my_application {
    display: none;
  }

  header {
    padding: 0 23px;
  }

  .navbar-item {
    padding: 0;
  }

  .navbar-menu {
    box-shadow: none;
  }

  .category {
    font-size: 20px;
    line-height: 24px;
    margin: 17px 0;
  }

  .search {
    width: 100%;
    margin-top: 63px;
  }

  .top {
    width: 100%;
    margin-top: 15px;
  }

  .navbar-menu {
    padding-top: 63px;
  }

  .footer_content {
    display: block;
  }

  .first_footer_block {
    padding: 23px;
  }

  .first_footer_block_column2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 35px;
  }
  .first_footer_block_column2 a {
    margin: 5px 0;
  }

  .first_footer_block_column3 {
    display: flex;
    text-align: left;
    margin-top: 35px;
  }
  .first_footer_block_column3 .first_context_block {
    margin-right: 30px;
  }
}
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SF-UI-Display-Regular.eot");
  src: local("☺"), url("../fonts/SF-UI-Display-Regular.woff") format("woff"), url("../fonts/SF-UI-Display-Regular.ttf") format("truetype"), url("../fonts/SF-UI-Display-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
main {
  padding: 30px 0;
}

.main_navigation {
  display: flex;
}
.main_navigation .main, .main_navigation .application, .main_navigation .workspace_number {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #273142;
  margin-right: 10px;
}
.main_navigation .application, .main_navigation .workspace_number {
  margin-left: 10px;
}
.main_navigation .profile {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #BEC0C2;
  margin-left: 10px;
}

@media (max-width: 1087px) {
  .main_navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .main_navigation .second_arrow {
    transform: rotate(180deg);
    margin-right: -2px;
  }
  .main_navigation .profile, .main_navigation .main, .main_navigation .first_arrow, .main_navigation .workspace_number {
    display: none;
  }
}
.main_title {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
.main_title .title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 37px;
  color: #273142;
}
.main_title .editing {
  display: flex;
}
.main_title .editing img {
  margin-top: -20px;
}
.main_title .editing p {
  width: 100%;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-top: 10px;
  color: #273142;
}

.general_information, .child_accounts {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  margin-bottom: 25px;
}
.general_information .general_information_title, .general_information .child_accounts_title, .child_accounts .general_information_title, .child_accounts .child_accounts_title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.general_information .add_block, .child_accounts .add_block {
  margin-top: 24px;
  display: flex;
}
.general_information .add_block img, .child_accounts .add_block img {
  width: 37px;
  height: 37px;
}
.general_information .add_block .add, .child_accounts .add_block .add {
  margin-left: 15px;
  margin-top: 6px;
}
.general_information .add_block .add .add_title, .child_accounts .add_block .add .add_title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #273142;
  transition: 0.3s ease;
  float: left;
}
.general_information .add_block .add .add_title:hover, .child_accounts .add_block .add .add_title:hover {
  color: #61ADE5;
}
.general_information .add_block .add img, .child_accounts .add_block .add img {
  margin-left: 12px;
  width: 28px;
  height: 28px;
  margin-top: -5px;
}
.general_information .question_img, .child_accounts .question_img {
  margin-left: 15px;
  width: 28px;
  height: 28px;
  margin-top: 0px;
}
.general_information .child_accounts_block, .child_accounts .child_accounts_block {
  margin-top: 15px;
  padding: 5px;
  background: #FCFCFC;
  border: 1px solid #F8F8F8;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}
.general_information .child_accounts_block .child_accounts_block_title, .child_accounts .child_accounts_block .child_accounts_block_title {
  padding: 10px 20px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #525A68;
}
.general_information .child_accounts_block .child_accounts_block_edit, .child_accounts .child_accounts_block .child_accounts_block_edit {
  display: flex;
}
.general_information .child_accounts_block .child_accounts_block_edit .edit_block, .general_information .child_accounts_block .child_accounts_block_edit .delete_block, .child_accounts .child_accounts_block .child_accounts_block_edit .edit_block, .child_accounts .child_accounts_block .child_accounts_block_edit .delete_block {
  padding: 7px 25px 5px 25px;
  width: 68px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #F8F8F8;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 5px;
  transition: 0.3s ease;
}
.general_information .child_accounts_block .child_accounts_block_edit .edit_block img, .general_information .child_accounts_block .child_accounts_block_edit .delete_block img, .child_accounts .child_accounts_block .child_accounts_block_edit .edit_block img, .child_accounts .child_accounts_block .child_accounts_block_edit .delete_block img {
  width: 14px !important;
  height: 14px !important;
}
.general_information .child_accounts_block .child_accounts_block_edit .edit_block:hover, .child_accounts .child_accounts_block .child_accounts_block_edit .edit_block:hover {
  border: 1px solid #273142;
  cursor: pointer;
}
.general_information .child_accounts_block .child_accounts_block_edit .delete_block:hover, .child_accounts .child_accounts_block .child_accounts_block_edit .delete_block:hover {
  border: 1px solid #E56868;
  cursor: pointer;
}
.general_information .general_information_content .info_block, .child_accounts .general_information_content .info_block {
  margin-top: 24px;
  display: flex;
}
.general_information .general_information_content .info_block img, .child_accounts .general_information_content .info_block img {
  width: 37px;
  height: 37px;
}
.general_information .general_information_content .info_block .info, .child_accounts .general_information_content .info_block .info {
  margin-left: 15px;
}
.general_information .general_information_content .info_block .info .info_title, .child_accounts .general_information_content .info_block .info .info_title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #BEC0C2;
}
.general_information .general_information_content .info_block .info .info_number, .child_accounts .general_information_content .info_block .info .info_number {
  margin-top: 4px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #525A68;
}
.general_information .general_information_content .add_block, .child_accounts .general_information_content .add_block {
  margin-top: 24px;
  display: flex;
}
.general_information .general_information_content .add_block img, .child_accounts .general_information_content .add_block img {
  width: 37px;
  height: 37px;
}
.general_information .general_information_content .add_block .add, .child_accounts .general_information_content .add_block .add {
  margin-left: 15px;
  margin-top: 6px;
}
.general_information .general_information_content .add_block .add .add_title, .child_accounts .general_information_content .add_block .add .add_title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #273142;
  transition: 0.3s ease;
  float: left;
}
.general_information .general_information_content .add_block .add .add_title:hover, .child_accounts .general_information_content .add_block .add .add_title:hover {
  color: #61ADE5;
}
.general_information .general_information_content .add_block .add img, .child_accounts .general_information_content .add_block .add img {
  margin-left: 12px;
  width: 28px;
  height: 28px;
  margin-top: -5px;
}
.general_information .general_information_content .line, .child_accounts .general_information_content .line {
  width: 100%;
  border: 1px solid #F8F8F8;
  margin: 15px 0;
}

@media (max-width: 1087px) {
  main {
    padding: 30px 23px;
  }

  .main_title {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
  }
  .main_title .title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #273142;
  }
  .main_title .editing {
    display: flex;
  }
  .main_title .editing img {
    margin-top: -20px;
  }
  .main_title .editing p {
    display: none;
  }

  .general_information, .child_accounts {
    padding: 25px 15px;
  }
  .general_information .general_information_title, .general_information .child_accounts_title, .child_accounts .general_information_title, .child_accounts .child_accounts_title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .general_information .general_information_content .info_block, .child_accounts .general_information_content .info_block {
    margin-top: 24px;
    display: flex;
  }
  .general_information .general_information_content .info_block img, .child_accounts .general_information_content .info_block img {
    width: 37px;
    height: 37px;
  }
  .general_information .general_information_content .info_block .info .info_number, .child_accounts .general_information_content .info_block .info .info_number {
    margin-top: 4px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #525A68;
  }
  .general_information .general_information_content .info_block .add .add_title, .child_accounts .general_information_content .info_block .add .add_title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
  }

  .child_accounts_block .child_accounts_block_title {
    padding: 10px 0 10px 10px !important;
    font-size: 15px !important;
    line-height: 18px !important;
  }
  .child_accounts_block .child_accounts_block_edit {
    display: flex;
  }
  .child_accounts_block .child_accounts_block_edit .edit_block, .child_accounts_block .child_accounts_block_edit .delete_block {
    padding: 7px 15px 5px 15px !important;
    width: 48px !important;
    height: 28px;
    margin-top: 15px;
  }
  .child_accounts_block .child_accounts_block_edit .edit_block img, .child_accounts_block .child_accounts_block_edit .delete_block img {
    width: 14px !important;
    height: 14px !important;
  }
}
.modify_button {
  background: #FDFDFD;
  border: 1px solid #F0F0F0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 20px;
  transition: 0.3s ease;
  margin-left: auto;
}
.modify_button:hover {
  cursor: pointer;
  border: 1px solid #273142;
  background: #FFFFFF;
}
.modify_button img {
  width: 15px !important;
  height: 15px !important;
  display: none;
}

.line {
  margin-top: 30px !important;
}

.new_password_block {
  margin-top: 30px;
}
.new_password_block .new_password_block_title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #273142;
}
.new_password_block .new_password_block_inputs {
  display: flex;
}
.new_password_block .new_password_block_inputs .search {
  margin-top: 19px;
  margin-left: 15px;
}
.new_password_block .new_password_block_inputs .new_password_input {
  position: relative;
  width: 100%;
}
.new_password_block .new_password_block_inputs .new_password_input input {
  background: #F9F9F9;
  border-radius: 6px;
  width: 100%;
  margin-top: 19px;
  border: 0;
  padding: 16px 20px;
}
.new_password_block .new_password_block_inputs .new_password_input input.active {
  background: #FFFFFF;
  border: 1px solid #EEF0F1;
  box-sizing: border-box;
  outline: none;
  padding: 14px 20px;
}
.new_password_block .new_password_block_inputs .new_password_input input:focus {
  background: #FFFFFF;
  border: 1px solid #EEF0F1;
  box-sizing: border-box;
  outline: none;
  padding: 14px 20px;
}
.new_password_block .new_password_block_inputs .new_password_input label {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #BEC0C2;
  position: absolute;
  top: 35px;
  left: 20px;
  transition: 0.3s ease;
}
.new_password_block .new_password_block_inputs .new_password_input p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #273142;
  position: absolute;
  top: 35px;
  right: 20px;
  z-index: 9999;
  transition: 0.3s ease;
  display: none;
}
.new_password_block .new_password_block_inputs .new_password_input p:hover {
  cursor: pointer;
}
.new_password_block .new_password_block_inputs .new_password_input p.active {
  display: block;
}
.new_password_block .new_password_block_inputs .new_password_input .show {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #CDD0D3;
  background-color: white;
  top: 12px;
  left: 20px;
}

.authorization_block {
  margin-top: 30px;
}
.authorization_block .authorization_block_title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #273142;
}
.authorization_block .authorization_block_inputs {
  display: flex;
  margin-top: 19px;
}
.authorization_block .authorization_block_inputs div {
  display: flex;
}
.authorization_block .authorization_block_inputs div img {
  width: 37px;
  height: 37px;
}
.authorization_block .authorization_block_inputs div p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 9px;
  color: #273142;
  margin-left: 13px;
  margin-right: 35px;
}
.authorization_block .authorization_block_inputs div p.active {
  color: #4B76A8;
}

@media (max-width: 992px) {
  .modify_button p {
    display: none;
  }
  .modify_button img {
    display: block;
  }

  .new_password_block, .authorization_block {
    margin-top: 40px;
  }
  .new_password_block .new_password_block_title, .new_password_block .authorization_block_title, .authorization_block .new_password_block_title, .authorization_block .authorization_block_title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #273142;
  }

  .new_password_block_inputs {
    display: flex;
    flex-direction: column;
  }
  .new_password_block_inputs .search {
    margin-left: 0 !important;
  }

  .authorization_block {
    margin-top: 30px;
  }
  .authorization_block .authorization_block_title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }
  .authorization_block .authorization_block_inputs {
    flex-direction: column;
  }
  .authorization_block .authorization_block_inputs div {
    margin-top: 10px;
  }
  .authorization_block .authorization_block_inputs div p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
}