@charset "UTF-8";
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SF-UI-Display-Regular.eot");
  src: local("☺"), url("../fonts/SF-UI-Display-Regular.woff") format("woff"), url("../fonts/SF-UI-Display-Regular.ttf") format("truetype"), url("../fonts/SF-UI-Display-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

body {
  background-color: #FCFCFC;
}

header {
  background-color: white;
}

a {
  transition: 0.3s ease;
}

.logo {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #273142;
  font-family: Roboto, sans-serif;
}

.category {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #273142;
  font-family: Gilroy;
  padding: 0;
  margin: 0 20px;
}
.category:hover {
  color: #61ADE5 !important;
  background-color: white !important;
}

.search {
  border: 0;
  background: linear-gradient(84.48deg, #61ADE6 0%, #8FCBF6 100%);
  box-shadow: 0px 2px 15px rgba(97, 173, 229, 0.3);
  border-radius: 6px;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 14px 25px;
  height: 46px;
  font-family: Gilroy;
}
.search:hover {
  background: linear-gradient(#61ADE6 100%, #8FCBF6 100%);
  color: white;
}

.top {
  border: 0;
  background: linear-gradient(86.9deg, #6CD196 0%, #8EE9B4 100%);
  box-shadow: 0px 2px 15px rgba(108, 209, 150, 0.3);
  border-radius: 6px;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 14px 25px;
  height: 46px;
  font-family: Gilroy;
}
.top:hover {
  background: linear-gradient(#6CD196 100%, #8EE9B4 0%);
  color: white;
}

.buttons {
  margin-right: 25px;
}

.vertical_line {
  width: 1px;
  height: 46px;
  background-color: #F0F0F0;
  margin-top: -7px;
  margin-left: 17px;
}

.vertical_line_category {
  width: 1px;
  height: 46px;
  background-color: #F0F0F0;
  margin-top: 10px;
}

.message {
  border: 0;
  background-color: white;
  padding: 0;
  margin: 0 10px 0 25px;
}
.message img {
  max-height: none;
  width: 45px;
}

.avatar {
  border: 0;
  background-color: white;
  padding: 0;
}
.avatar img {
  max-height: none;
  width: 45px;
}

.header_selector {
  border: 0;
  background-color: white;
  padding: 0;
}
.header_selector img {
  transition: 1s;
}

.header_dropdown {
  display: flex;
}
.header_dropdown:hover {
  background: white !important;
  color: #61ADE5 !important;
}
.header_dropdown p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #273142;
  transition: 0.3s ease;
  margin: 5px 0 0 10px;
}
.header_dropdown p:hover {
  color: #61ADE5 !important;
}

.navbar-burger:hover {
  background-color: white;
}

.horizontal_line {
  width: 100%;
  border: 1px solid #F5F5F5;
  margin: 27px 0;
}

.footer_content {
  display: flex;
  justify-content: space-between;
}

.first_footer_block {
  background: #273242;
  padding: 30px 0;
}
.first_footer_block .footer_logo {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}
.first_footer_block .footer_context {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #888E97;
  margin-top: 8px;
}

.second_footer_block {
  background: #212B39;
  text-align: center;
  padding: 20px 0;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #888E97;
}

.first_footer_block_column2 {
  text-align: center;
  margin-top: 10px;
}
.first_footer_block_column2 a {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0 15px;
}
.first_footer_block_column2 a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.first_footer_block_column3 {
  text-align: right;
}
.first_footer_block_column3 .first_context {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #888E97;
}
.first_footer_block_column3 .second_context {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-top: 8px;
  margin-bottom: 16px;
}

.navbar-burger span {
  height: 2px;
  width: 30px;
  border-radius: 2px;
}
.navbar-burger .third_burger {
  width: 20px;
  margin-left: 10px;
}

.navbar-burger.is-active .third_burger {
  width: 30px;
  margin-left: 0;
}

@media (max-width: 1087px) {
  .vertical_line_category, .my_application {
    display: none;
  }

  header {
    padding: 0 23px;
  }

  .navbar-item {
    padding: 0;
  }

  .navbar-menu {
    box-shadow: none;
  }

  .category {
    font-size: 20px;
    line-height: 24px;
    margin: 17px 0;
  }

  .search {
    width: 100%;
    margin-top: 63px;
  }

  .top {
    width: 100%;
    margin-top: 15px;
  }

  .navbar-menu {
    padding-top: 63px;
  }

  .footer_content {
    display: block;
  }

  .first_footer_block {
    padding: 23px;
  }

  .first_footer_block_column2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 35px;
  }
  .first_footer_block_column2 a {
    margin: 5px 0;
  }

  .first_footer_block_column3 {
    display: flex;
    text-align: left;
    margin-top: 35px;
  }
  .first_footer_block_column3 .first_context_block {
    margin-right: 30px;
  }
}
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SF-UI-Display-Regular.eot");
  src: local("☺"), url("../fonts/SF-UI-Display-Regular.woff") format("woff"), url("../fonts/SF-UI-Display-Regular.ttf") format("truetype"), url("../fonts/SF-UI-Display-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
main {
  padding: 30px 0;
}

.main_navigation {
  display: flex;
}
.main_navigation .main, .main_navigation .application, .main_navigation .workspace_number {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #273142;
  margin-right: 10px;
}
.main_navigation .application, .main_navigation .workspace_number {
  margin-left: 10px;
}
.main_navigation .profile {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #BEC0C2;
  margin-left: 10px;
}

@media (max-width: 1087px) {
  .main_navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .main_navigation .second_arrow {
    transform: rotate(180deg);
    margin-right: -2px;
  }
  .main_navigation .profile, .main_navigation .main, .main_navigation .first_arrow, .main_navigation .workspace_number {
    display: none;
  }
}
.line {
  width: 100%;
  border: 1px solid #F8F8F8;
  margin: 30px 0;
}

.company_info {
  margin-top: 60px;
  display: flex;
}
.company_info .logo {
  width: 70px;
  height: 70px;
  border: 1px dashed #F4F4F4;
  box-sizing: border-box;
  border-radius: 4px;
}
.company_info .logo img {
  width: 100%;
  object-fit: cover;
}
.company_info .information {
  margin-left: 21px;
  display: flex;
  flex-direction: column;
}
.company_info .information .title {
  color: #273142;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.company_info .information .verification {
  display: flex;
  margin-top: -20px;
  margin-left: -10px;
}
.company_info .information .verification .verification1, .company_info .information .verification .verification2 {
  display: flex;
}
.company_info .information .verification .verification1 p, .company_info .information .verification .verification2 p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-top: 15px;
  color: #525A68;
}
.company_info .information .verification .verification2 {
  margin-left: 10px;
}

.description_block .main_title .title {
  color: #273142;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
}
.description_block .location {
  display: flex;
  margin-top: 20px;
}
.description_block .location .icon {
  width: 37px;
  height: 37px;
}
.description_block .location .text {
  margin-left: 15px;
}
.description_block .location .text .title_city {
  color: #BEC0C2;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
.description_block .location .text .city {
  color: #525A68;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 4px;
}
.description_block .description_text {
  margin-top: 20px;
  color: #808896;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  max-width: 650px;
}
.description_block .fields {
  margin-top: 30px;
  display: flex;
}
.description_block .fields .type, .description_block .fields .quantity, .description_block .fields .cash {
  width: 100%;
  padding: 10px 15px;
  background: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.01);
  border-radius: 6px;
}
.description_block .fields .type .title, .description_block .fields .quantity .title, .description_block .fields .cash .title {
  color: #BEC0C2;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
}
.description_block .fields .type .text, .description_block .fields .quantity .text, .description_block .fields .cash .text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #525A68;
}
.description_block .fields .quantity {
  margin: 0 15px;
}
.description_block .fields_2 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.description_block .fields_2 .type, .description_block .fields_2 .quantity {
  width: 100%;
  padding: 10px 15px;
  background: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.01);
  border-radius: 6px;
}
.description_block .fields_2 .type .title, .description_block .fields_2 .quantity .title {
  color: #BEC0C2;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
}
.description_block .fields_2 .type .text, .description_block .fields_2 .quantity .text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #525A68;
}
.description_block .fields_2 .quantity {
  margin-top: 15px;
}
.description_block .reaction {
  width: 100%;
  text-align: right;
}
.description_block .reaction .search {
  margin-top: -260px;
}

.general_information_block {
  padding: 25px;
  background: #FBFBFB;
  border: 1px solid #F7F7F7;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 25px;
}
.general_information_block .title p {
  color: #273142;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.general_information_block .fields .field {
  margin-top: 10px;
  width: 100%;
  padding: 10px 15px;
  background: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.01);
  border-radius: 6px;
}
.general_information_block .fields .field .title {
  color: #BEC0C2;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
}
.general_information_block .fields .field .text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #525A68;
}

.content {
  display: flex;
  justify-content: space-between;
}

.last_button {
  margin-top: 30px;
  text-align: center;
}
.last_button .search {
  padding: 19px 186px;
}

@media (max-width: 1087px) {
  main {
    padding: 30px 23px;
  }

  .company_info .logo {
    width: 70px;
    height: 70px;
  }
  .company_info .information {
    margin-left: 15px;
  }
  .company_info .information .verification {
    flex-direction: column;
  }
  .company_info .information .verification .verification2 {
    margin-left: 0;
    margin-top: -10px;
  }

  .description_block .main_title .title {
    color: #273142;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
  .description_block .fields {
    flex-direction: column;
  }
  .description_block .fields .quantity {
    margin: 15px 0;
  }
  .description_block .reaction {
    width: 100%;
    text-align: center;
  }
  .description_block .reaction .search {
    margin-top: 15px;
  }

  .last_button .search {
    padding: 19px 0;
  }
}
.slider {
  position: relative;
  overflow: hidden;
  display: none;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  height: 50px;
  transform: translateY(-50%);
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_left {
  left: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slider__control_right {
  right: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 44px;
  height: 44px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("../img/page_created_application/left_slider_arrow.svg");
}

.slider__control_left:active::before {
  background-image: url("../img/page_created_application/active_slider_arrow.svg");
  transform: rotate(180deg);
}

.slider__control_right::before {
  background-image: url("../img/page_created_application/left_slider_arrow.svg");
  transform: rotate(180deg);
}

.slider__control_right:active::before {
  background-image: url("../img/page_created_application/active_slider_arrow.svg");
  transform: rotate(0deg);
}

.slider__item > div {
  text-align: center;
}