@import "header_footer";
@import "fonts";
@import "add_files.scss";

::-webkit-input-placeholder {
    color: #bec0c2;
    font-family: Gilroy;
    font-size: 16px;
    line-height: 17px; }
  
  ::-moz-input-placeholder {
    color: #bec0c2;
    font-family: Gilroy;
    font-size: 16px;
    line-height: 17px; 
  }
  
  :-ms-input-placeholder {
    color: #bec0c2;
    font-family: Gilroy;
    font-size: 16px;
    line-height: 17px; 
 }
 .wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  footer {
    margin-top: auto;
  }

  .hr {
    border: 1px solid #F8F8F8;
    height: 1px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 35px;
    background: #f8f8f8;
  }
  .input {
    width: 100%;
    height: 46px;
    background: #F9F9F9;
    border-radius: 6px;
    border: 1px solid #EEF0F1;
    padding: 15px 20px;
    &:focus {
      outline: 0;
      background: #fff;
      box-shadow:none;
      border: 1px solid #EEF0F1;
    }
    &:hover {
        border: 1px solid #EEF0F1; 
    }
}
.select {
    height: 46px !important;
    background: #F9F9F9;
    border-radius: 6px;
    border: 1px solid #EEF0F1;
    padding: 13px 20px;
    color: #bec0c2;
    font-family: Gilroy;
    width: 100%;
    &:focus {
        outline: 0;
        background: #fff;
    }
}
.row {
position: relative;
.read {
    color: #273142 !important;
}
label {
    display: block;
    transform: translateY(-1.9rem) translateX(15px);
    transition: 0.3s ease;
    width: 249px; 
    font-family: Gilroy;
    font-size: 15px;
    line-height: 17px;
    color: #CDD0D3;
}
.show_pass {
    position: absolute;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #273142;
    z-index: 1;
    right: 15px;
    top: 15px;
    cursor: pointer
}
}
.row input:focus + label, 
.row input:valid + label { 
transform: translateY(-3.3rem) translateX(15px);
font-size: 12px;
line-height: 14px;
}
.row select:focus + label, 
.row select:valid + label { 
transform: translateY(-3.3rem) translateX(15px);
font-size: 12px;
line-height: 14px;
}
.big_label {
    transform: translateY(-11.5rem) translateX(15px) !important; 
}
.row input:focus + .big_label, 
.row input:valid + .big_label { 
transform: translateY(-12.9rem) translateX(15px) !important;
font-size: 12px;
line-height: 14px;
}


.main_navigation{
    display: flex;
    margin-top: 30px;
    .main{
      @include font1;
      color: #273142;
      margin-right: 10px;
    }
    .registration{
      @include font1;
      color: #BEC0C2;
      margin-left: 10px;
    }
}
.title_text {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 35px;
    line-height: 37px;
    color: #273142;
    margin-top: 46px;
}
.check_title {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #273142;
  margin-right: 3px;
}
.check_subtitle {
  font-family: Gilroy;
  font-size: 10px;
  line-height: 12px;
  color: #AAACAE;
}

.numbers{
    display: flex;
    margin-top: 40px;
    .page_number_discription{
      .page_number{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: 1px dashed #DFE1E3;
        box-sizing: border-box;
        color: #DFE1E3;
        padding: 13px;
        text-align: center;
        font-weight: 300;
        font-size: 25px;
        line-height: 30px;
        img{
          margin-left: 3px;
        }
      }
    }
    .page_number_discription.active{
      .page_number{
        color: #61ADE5;
        border: 1px dashed #61ADE5;
      }
    }
    .dashed_line{
      height: 1px;
      width: 148px;
      margin: 30px 15px;
      border: 1px dashed #DFE1E3;
    }
    .dashed_line.active{
      border: 1px dashed #61ADE5;
    }
  }
  
  .numbers_descriptions{
    display: flex;
    margin-bottom: 40px;
    .page_description{
      margin-left: 92px;
      .page_description_title{
        color: #DFE1E3;
        @include font3;
        margin-top: 10px;
      }
      .page_description_text{
        color: #DFE1E3;
        @include font8;
        margin-top: 4px;
      }
    }
    .page_description.active{
      .page_description_title{
        color: #61ADE5;
      }
      .page_description_text{
        color: #808896;
      }
    }
  }

.main_block {
    background: #fff;
    padding: 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    .data {
        .data_text {
            font-family: Gilroy;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #273142;
            margin-bottom: 20px;
        }
        .data_form {
            display: flex;
            justify-content: space-between;
        }
    }
    .check-block {
        margin-bottom: 10px;
        .check_text {
            display: flex;
            margin-bottom: 20px;
            .check_title {
                font-family: Gilroy;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #273142;
                margin-right: 3px;
            }
            .check_subtitle {
                font-family: Gilroy;
                font-size: 10px;
                line-height: 12px;
                color: #AAACAE;
            }
        }
        .checkboxes{
            margin-top: 25px;
            max-height: 145px;
            overflow: hidden;
            overflow-y: scroll;
            display: flex;
            &::-webkit-scrollbar {
                    width: 5px; /* ширина для вертикального скролла */
                    border-radius: 50px;
                    background: #F9F9F9;
                }
        
              /* ползунок скроллбара */
              &::-webkit-scrollbar-thumb {
                    background: #273142;
                    box-shadow: 0px 0px 5px rgba(39, 49, 66, 0.08);
                    border-radius: 50px;
                    height: 10px !important;
                }
        
              &::-webkit-scrollbar-thumb:hover {
                }
            .first_col{
              width: 50%;
              .col_element{
                display: flex;
                .check{
                  .custom-checkbox {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                  }
                  .custom-checkbox+label {
                    display: inline-flex;
                    align-items: center;
                    user-select: none;
                    color: #BEC0C2;
                    margin-top: 2px;
                    @include font4;
                  }
                  .custom-checkbox+label::before {
                    content: '';
                    display: inline-block;
                    flex-shrink: 0;
                    flex-grow: 0;
                    background: #F9F9F9;
                    border: 1px solid #EEF0F1;
                    box-sizing: border-box;
                    border-radius: 3px;
                    margin-right: 9px;
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50% 50%;
                  }
                  .custom-checkbox:checked+label::before {
                    box-shadow: 0px 1px 10px rgba(86, 165, 223, 0.15);
                    background-color: #61ADE5;
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                  }
                }
              }
            }
            .second_col{
              width: 50%;
              .col_element{
                display: flex;
                .check{
                  .custom-checkbox {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                  }
                  .custom-checkbox+label {
                    display: inline-flex;
                    align-items: center;
                    user-select: none;
                    color: #BEC0C2;
                    margin-top: 2px;
                    @include font4;
                  }
                  .custom-checkbox+label::before {
                    content: '';
                    display: inline-block;
                    flex-shrink: 0;
                    flex-grow: 0;
                    background: #F9F9F9;
                    border: 1px solid #EEF0F1;
                    box-sizing: border-box;
                    border-radius: 3px;
                    margin-right: 9px;
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50% 50%;
                  }
                  .custom-checkbox:checked+label::before {
                    box-shadow: 0px 1px 10px rgba(86, 165, 223, 0.15);
                    background-color: #61ADE5;
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                  }
                }
              }
            }
            .third_col{
              width: 50%;
              .col_element{
                display: flex;
                .check{
                  .custom-checkbox {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                  }
                  .custom-checkbox+label {
                    display: inline-flex;
                    align-items: center;
                    user-select: none;
                    color: #BEC0C2;
                    margin-top: 2px;
                    @include font4;
                  }
                  .custom-checkbox+label::before {
                    content: '';
                    display: inline-block;
                    flex-shrink: 0;
                    flex-grow: 0;
                    background: #F9F9F9;
                    border: 1px solid #EEF0F1;
                    box-sizing: border-box;
                    border-radius: 3px;
                    margin-right: 9px;
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50% 50%;
                  }
                  .custom-checkbox:checked+label::before {
                    box-shadow: 0px 1px 10px rgba(86, 165, 223, 0.15);
                    background-color: #61ADE5;
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                  }
                }
              }
            }
            .fourth_col{
              width: 50%;
              .col_element{
                display: flex;
                .check{
                  .custom-checkbox {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                  }
                  .custom-checkbox+label {
                    display: inline-flex;
                    align-items: center;
                    user-select: none;
                    color: #BEC0C2;
                    margin-top: 2px;
                    @include font4;
                  }
                  .custom-checkbox+label::before {
                    content: '';
                    display: inline-block;
                    flex-shrink: 0;
                    flex-grow: 0;
                    background: #F9F9F9;
                    border: 1px solid #EEF0F1;
                    box-sizing: border-box;
                    border-radius: 3px;
                    margin-right: 9px;
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50% 50%;
                  }
                  .custom-checkbox:checked+label::before {
                    box-shadow: 0px 1px 10px rgba(86, 165, 223, 0.15);
                    background-color: #61ADE5;
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                  }
                }
              }
            }
        }
    }
    .place_and_type {
        .place_and_type_text {
            font-family: Gilroy;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #273142;
            margin-bottom: 20px;
        }
        .place_and_type_form {
            .columns {
                .is-half {
                    margin-right: 15px;
                }
                .population {
                    margin-right: 15px;
                }
            }
        }
    }
    .work_exp {
        .work_exp_text {
            display: flex;
            margin-bottom: 20px;
            .work_exp_title {
                font-family: Gilroy;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #273142;
                margin-right: 3px;
            }
            .work_exp_subtitle {
                font-family: Gilroy;
                font-size: 10px;
                line-height: 12px;
                color: #AAACAE;
            }
        }
    }
    .downloads {
        .photos {
            display: flex;
            flex-direction: column;
            @include add_files;
            .photo_text {
                display: flex;
                margin-bottom: 15px;
                .photo_title {
                    font-family: Gilroy;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #273142;
                    margin-right: 3px;
                }
                .photo_subtitle {
                    font-family: Gilroy;
                    font-size: 10px;
                    line-height: 12px;
                    color: #AAACAE;
                }
            }
            .example-1 {
                .label {
                    width: 150px !important;
                    height: 150px !important;
                    padding: 0 !important;
                    margin-bottom: 10px;
                }
            }
            .instruction {
                font-family: SF UI Display;
                font-size: 13px;
                line-height: 16px;
                font-weight: 100;
                color: #BEC0C2;
            }
        }
    }
    .next {
        border-radius: 50px;
    }
}



//Page 2

.region_text {
  display: flex;
  margin-bottom: 12px;
}
.region_form {
  display: flex;
  justify-content: space-between;
  .select-2 {
    height: 46px !important;
    background: #F9F9F9;
    border-radius: 6px;
    border: 1px solid #EEF0F1;
    padding: 13px 20px;
    color: #bec0c2;
    font-family: Gilroy;
    width: 100%;
    &:focus {
        outline: 0;
        background: #fff;
    }
  }
}
.live_form {
  display: flex;
}
.tools_form {
  display: flex;
}  
.pay_form {
  display: flex;
}
.radio_block{
  margin-right: 30px;
  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  /* для элемента label связанного с .custom-radio */
  .custom-radio+label {
    display: inline-flex;
    color: #BEC0C2;
    font-size: 15px;
    line-height: 18px;
  }
  /* создание в label псевдоэлемента  before со следующими стилями */
  .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    background: #F9F9F9;
    border: 1px solid #EEF0F1;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  /* стили при наведении курсора на радио */
  .custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }
  /* стили для активной радиокнопки (при нажатии на неё) */
  .custom-radio:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  /* стили для радиокнопки, находящейся в фокусе */
  .custom-radio:focus+label::focus {
    color:#273142 !important;
  }
  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .custom-radio:focus:not(:checked)+label::before {
    border-color: #80bdff;
  }
  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio:checked+label::before {
    border-color: white;
    background: linear-gradient(45deg, #61ADE5 0%, #8FC9F3 100%);
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.08);
  }
  /* стили для радиокнопки, находящейся в состоянии disabled */
  .custom-radio:disabled+label::before {
    background-color: #e9ecef;
  }
  .custom-radio:checked~label{
    color:black;
  }
}







@media (max-width: 1087px) {
    main {
      padding: 30px 23px;
    }
    .hr {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .main_navigation {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      img {
        transform: rotate(180deg);
        margin-right: 8px;
      }
    }
    .none-mob {
        display: none;
    }
    .numbers{
        display: flex;
        margin-top: 40px;
        .page_number_discription{
          .page_number{
            width: 50px;
            height: 50px;
            border-radius: 30px;
            border: 1px dashed #DFE1E3;
            box-sizing: border-box;
            color: #DFE1E3;
            padding: 11px;
            text-align: center;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            img{
              margin-left: 1px;
            }
          }
        }
        .page_number_discription.active{
          .page_number{
            color: #61ADE5;
            border: 1px dashed #61ADE5;
          }
        }
        .dashed_line{
          height: 1px;
          width: 100% !important;
          margin: 25px 0;
          border: 1px dashed #DFE1E3;
        }
      }
      .page_description_title {
          display: none;
      }
    .main_block {
        padding: 15px;
        .data_form {
            display: block !important;
        }
    }
    .checkboxes{
        flex-direction: column;
        max-height: 261px !important;
        .first_col{
          width: 100%;
        }
        .second_col{
          width: 100%;
        }
        label {
            width: 226px !important;
        }
    }
    .work_exp {
        .work_exp_form {
            height: auto !important;
            .big_label {
                width: auto !important;
            }
        }
    }
    .main_block {
        .downloads{
            .photos {
                .example-1 {
                    .label {
                        width: 100% !important;
                    }
                }
            }       
        }
    }
    .is-half {
      margin-right: 0 !important;
      width: 100% !important;
    }            
    .population {
      margin-right: 0 !important;
    }
    .columns {
      display: block !important;
    }
    .column {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .region_form {
      display: block;
    }
    .live_form {
      display: block;
      .radio_block {
        margin-bottom: 13px;
      }
    }
    .tools_form {
      display: block;
      .radio_block {
        margin-bottom: 13px;
      }
    }
    .pay_form {
      display: block;
      .radio_block {
        margin-bottom: 13px;
      }
    }
    .size-low {
      font-size: 16px !important;
    } 
    .next {
      margin-top: 10px; 
    } 
}


@media only screen and (min-width: 1280px) and (max-width: 1470px) {
  .population {
    margin-right: 0 !important;
  }
  .is-half {
    margin-right: 0 !important;
  }
  .region_form {
    select {
      width: 80% !important;
    }
  }
}


@media only screen and (min-width: 1088px) and (max-width: 1279px) {
  .column {
    width: 40% !important;
  }
  .data_form {
    input {
      width: 88% !important;
    }
    select {
      width: 63%;
      min-width: auto;
    }
  }
  .population {
    margin-right: 0 !important;
  }
  .is-half {
    margin-right: 0 !important;
  }
  .region_form {
    .select-2 {
      width: 70%;
    }
  }
}