@import "header_footer";
@import "fonts";
@import "input";
@import "client_business_card_page";
@import "executor_business_card_page";

.new_password_input{
  position: relative;
  width: 100%;
  @include input;
}

.page_title{
  margin-top: 45px;
  .title{
    color: #273142;
    @include font2;
    margin: 0;
  }
  .text{
    margin-top: 10px;
    color: #808896;
    @include font17;
  }
}

.filter_block{
  display: flex;
  margin-top: 35px;
  .specialization{
    width: 50%;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    margin-right: 20px;
    .specialization_search{
      display: flex;
      p{
        color: #273142;
        @include font9_2;
        margin-right: 30px;
        margin-top: 13px;
      }
    }
  }
  .checboxes{
    margin-top: 25px;
    max-height: 145px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    &::-webkit-scrollbar {
            width: 5px; /* ширина для вертикального скролла */
            border-radius: 50px;
            background: #F9F9F9;
        }

      /* ползунок скроллбара */
      &::-webkit-scrollbar-thumb {
            background: #273142;
            box-shadow: 0px 0px 5px rgba(39, 49, 66, 0.08);
            border-radius: 50px;
            height: 10px !important;
        }

      &::-webkit-scrollbar-thumb:hover {
        }
    .first_col{
      width: 50%;
      .col_element{
        display: flex;
        .check{
          @include checkbox;
        }
      }
    }
    .second_col{
      width: 50%;
      .col_element{
        display: flex;
        .check{
          @include checkbox;
        }
      }
    }
    .third_col{
      width: 50%;
      .col_element{
        display: flex;
        .check{
          @include checkbox;
        }
      }
    }
    .fourth_col{
      width: 50%;
      .col_element{
        display: flex;
        .check{
          @include checkbox;
        }
      }
    }
  }
  .filter{
    width: 50%;
    padding: 30px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.02);
    border-radius: 6px;

    .search{
      width: 100%
    }
  }
}

.applications{
  .executor__block{
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media (max-width: 1087px) {
  .page_title{
    margin-top: 45px;
    .title{
      color: #273142;
      @include font2_2;
      margin: 0;
    }
  }

  .applications{
    .executor__block{
      margin-left: 0;
      margin-right: 0;
    }
  }

  .filter_block{
    flex-direction: column;
    .specialization{
      width: 100%;
      .specialization_search{
        flex-direction: column;
        .new_password_input{
          margin-top: 10px;
        }
      }
      .checboxes{
        flex-direction: column;
        .first_col{
          width: 100%;
        }
        .second_col{
          width: 100%;
        }
      }
    }
    .filter{
      width: 100%;
      margin-top: 20px;
      .search{
        margin-top: 0;
      }
    }
  }
}
