@import "header_footer";
@import "fonts";
@import "client_business_card_page";
@import "executor_business_card_page";
@import "application_catalog";
@import "input";
@import "select";
@import "add_files";

.numbers{
  display: flex;
  margin-top: 40px;
  .page_number_discription{
    .page_number{
      width: 60px;
      height: 60px;
      border-radius: 30px;
      border: 1px dashed #DFE1E3;
      box-sizing: border-box;
      color: #DFE1E3;
      padding: 13px;
      text-align: center;
      font-weight: 300;
      font-size: 25px;
      line-height: 30px;
      img{
        margin-left: 3px;
      }
    }
  }
  .page_number_discription.active{
    .page_number{
      color: #61ADE5;
      border: 1px dashed #61ADE5;
    }
  }
  .dashed_line{
    height: 1px;
    width: 148px;
    margin: 30px 15px;
    border: 1px dashed #DFE1E3;
  }
  .dashed_line.active{
    border: 1px dashed #61ADE5;
  }
}

.numbers_descriptions{
  display: flex;
  .page_description{
    margin-left: 92px;
    .page_description_title{
      color: #DFE1E3;
      @include font3;
      margin-top: 10px;
    }
    .page_description_text{
      color: #DFE1E3;
      @include font8;
      margin-top: 4px;
    }
  }
  .page_description.active{
    .page_description_title{
      color: #273142;
    }
    .page_description_text{
      color: #808896;
    }
  }
}

.filter_block{
  display: block;
  .specialization{
    width: 100% !important;
    .specialization_search{
      p{
        margin-right: 3px;
        display: inline-block;
      }
      span{
        color: #AAACAE;
        @include font5;
      }
    }
  }
}
.subtypes{
  display: flex;
  .first_block{
    width: 100%;
    margin-right: 15px;
    .subtype_title{
      color: #273142;
      @include font9;
    }
    .first_col{
      display: inline-block;
      margin-top: 10px;
      .type{
        display: flex;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.035);
        border-radius: 50px;
        padding: 3px;
        color: #525A68;
        @include font1;
        p{
          margin-left: 12px;
          margin-top: 4px;
        }
        img{
          cursor: pointer;
          margin-left: 15px;
        }
      }
    }
  }
  .second_block{
    width: 100%;
    margin-left: 15px;
    .subtype_title{
      color: #273142;
      @include font9;
    }
    .second_col{
      display: inline-block;
      margin-top: 10px;
      .type{
        display: flex;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.035);
        border-radius: 50px;
        padding: 3px;
        color: #525A68;
        @include font1;
        p{
          margin-left: 12px;
          margin-top: 4px;
        }
        img{
          cursor: pointer;
          margin-left: 15px;
        }
      }
    }
  }
}

.checboxes_page2{
  display: flex;
  flex-flow: row wrap;
  margin-left: 10px;
  margin-top: 0;
  .tools, .accommodation, .workwear, .transportation, .food{
    width: 33%;
    .title{
      @include font9;
      color: #273142;
      margin-bottom: 17px;
    }
    .radio_block{
      margin-bottom: 3px;
      /* для элемента input c type="radio" */
      @include radio;
    }
  }
  .transportation, .food{
    margin-top: 30px;
  }
}

.object_infopmation_block{
  .title{
    display: flex;
    .name{
      margin-right: 3px;
      display: inline-block;
      @include font9;
    }
    .desk{
      color: #AAACAE;
      @include font5;
    }
  }
  .inputs_block{
    margin-top: 19px;
    display: flex;
    .new_password_input{
      position: relative;
      width: 50%;
      @include input;

    }
    .adress{
      margin-left: 30px;
    }
  }
}

.next_page{
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  @include font3;
  padding: 15px 39px;
  background: linear-gradient(84.48deg, #61ADE6 0%, #8FCBF6 100%);
  box-shadow: 0px 2px 15px rgba(97, 173, 229, 0.3);
  border-radius: 50px;
  text-align: center;
  &:hover{
    background: linear-gradient(#61ADE6 100%, #8FCBF6 100%);
    color: white;
  }
}

.select-box {
  display: flex;
  width: 100%;
  margin-top: 12px;
  flex-direction: column;
  .options-container {
    background: #F9F9F9;
    color:#BEC0C2;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 6px;
    overflow: hidden;
    order: 1;
    &::-webkit-scrollbar {
      width: 8px;
      background: #514C58;
      border-radius: 0 8px 8px 0;
    }
    &::-webkit-scrollbar-thumb {
      background: #525861;
      border-radius: 0 8px 8px 0;
    }
  }
  .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }
  .options-container.active + .selected::after {
  }
}
.selected {
  background: #F9F9F9;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #BEC0C2;
  position: relative;
  order: 0;
  &::after {
    content: "";
    background: url("../img/create_application/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 12px;
    width: 12px;
    right: 20px;
    top: 20px;
    transition: all 0.4s;
  }
}

.select-box .option,
.selected {
  padding: 15px 20px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.col_element{
  display: flex;
  .check{
    .custom-checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0; 
    }
    .custom-checkbox+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      color: #BEC0C2;
      margin-top: 2px;
      @include font4;
    }
    .custom-checkbox+label::before {
      content: '';
      display: inline-block;
      flex-shrink: 0;
      flex-grow: 0;
      background: #F9F9F9;
      border: 1px solid #EEF0F1;
      box-sizing: border-box;
      border-radius: 3px;
      margin-right: 9px;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
    .custom-checkbox:checked+label::before {
      box-shadow: 0px 1px 10px rgba(86, 165, 223, 0.15);
      background-color: #61ADE5;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
  }
}

.required_number_people{
  .title{
    color: #273142;
    @include font9;
  }
  .piople{
    display: flex;
  }
  .new_password_block_inputs{
    display: flex;
    .search{
      margin-top: 19px;
      margin-left: 15px;
    }
    p{
      @include font3;
      color: #808896;
      margin: 15px 15px 0 15px;
    }
    .new_password_input{
      position: relative;
      width: 150px;
      @include input;
      p{
        @include font3;
        color: #273142;
        position: absolute;
        top: 35px;
        right: 20px;
        z-index: 9999;
        transition: .3s ease;
        display: none;
        &:hover{
          cursor: pointer;
        }
      }
      p.active{
        display: block;
      }
    }
    .col_element{
      display: flex;
      margin-left: auto;
      margin-top: auto;
      .check{
        .custom-checkbox {
          position: absolute;
          z-index: -1;
          opacity: 0;
        }
        .custom-checkbox+label {
          display: inline-flex;
          align-items: center;
          user-select: none;
          color: #BEC0C2;
          margin-top: 2px;
          @include font4;
        }
        .custom-checkbox+label::before {
          content: '';
          display: inline-block;
          flex-shrink: 0;
          flex-grow: 0;
          background: #F9F9F9;
          border: 1px solid #EEF0F1;
          box-sizing: border-box;
          border-radius: 3px;
          margin-right: 9px;
          width: 16px;
          height: 16px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
        }
        .custom-checkbox:checked+label::before {
          box-shadow: 0px 1px 10px rgba(86, 165, 223, 0.15);
          background-color: #61ADE5;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }
      }
    }
  }
}

.handymen, .completion_date, .advance_payment, .payment_for_work{
  .title{
    color: #273142;
    @include font9;
    display: flex;
      p{
        margin-right: 3px;
        display: inline-block;
      }
      .memo{
        color: #AAACAE;
        @include font5;
      }
  }
  .new_password_input{
    position: relative;
    width: 100%;
    @include input;
  }
  .radios{
    display: flex;
    .radio_block{
      margin-right: 30px;
      .custom-radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
      /* для элемента label связанного с .custom-radio */
      .custom-radio+label {
        display: inline-flex;
        color: #BEC0C2;
        font-size: 15px;
        line-height: 18px;
      }
      /* создание в label псевдоэлемента  before со следующими стилями */
      .custom-radio+label::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        flex-grow: 0;
        background: #F9F9F9;
        border: 1px solid #EEF0F1;
        box-sizing: border-box;
        border-radius: 50%;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
      /* стили при наведении курсора на радио */
      .custom-radio:not(:disabled):not(:checked)+label:hover::before {
        border-color: #b3d7ff;
      }
      /* стили для активной радиокнопки (при нажатии на неё) */
      .custom-radio:not(:disabled):active+label::before {
        background-color: #b3d7ff;
        border-color: #b3d7ff;
      }
      /* стили для радиокнопки, находящейся в фокусе */
      .custom-radio:focus+label::before {
      }
      /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
      .custom-radio:focus:not(:checked)+label::before {
        border-color: #80bdff;
      }
      /* стили для радиокнопки, находящейся в состоянии checked */
      .custom-radio:checked+label::before {
        border-color: white;
        background: linear-gradient(45deg, #61ADE5 0%, #8FC9F3 100%);
        box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.08);
      }
      /* стили для радиокнопки, находящейся в состоянии disabled */
      .custom-radio:disabled+label::before {
        background-color: #e9ecef;
      }
    }
  }
}

.downloads{
  display: flex;
  .photos, .videos, .drawings{
    width: 33%;
    display: flex;
    flex-direction: column;
    .title{
      color: #273142;
      @include font9;
      display: flex;
        p{
          margin-right: 3px;
          display: inline-block;
        }
        .memo{
          color: #AAACAE;
          @include font5;
        }
    }
    @include add_files;
  }
  .videos{
    margin: 0 30px;
  }
}

.add_job_type{
  display: none;
  width: 100%;
  margin-top: 27px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.035);
  border-radius: 6px;
  .info{
    display: flex;
    .type_work, .quantity, .cash, .cash_selector{
      width: 25%;
    }
    .type_work{
      .new_password_input{
        position: relative;
        width: 100%;
        @include input;
        p{
          @include font3;
          color: #273142;
          position: absolute;
          top: 35px;
          right: 20px;
          z-index: 9999;
          transition: .3s ease;
          display: none;
          &:hover{
            cursor: pointer;
          }
        }
        p.active{
          display: block;
        }
      }
    }
    .quantity, .cash{
      margin-left: 20px;
      .new_password_input{
        position: relative;
        width: 100%;
        @include input;
        p{
          @include font3;
          color: #273142;
          position: absolute;
          top: 35px;
          right: 20px;
          z-index: 9999;
          transition: .3s ease;
          display: none;
          &:hover{
            cursor: pointer;
          }
        }
        p.active{
          display: block;
        }
      }
    }
    .quantity{
      display: flex;
      @include select
    }
    .cash_selector{
      display: flex;
      @include select;
      p{
        margin: 12px;
      }
    }

  }
}

.add{
  margin-top: 15px;
  display: flex;
  p{
    color: #273142;
    @include font11;
    margin-top: 20px;
  }
}
.shift_work{
  .title{
    color: #273142;
    @include font9;
  }
  .answer{
    display: flex;
    .yes, .no{
      background: #FFFFFF;
      border: 1px solid #F4F4F4;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 16px 25px;
      color: #273142;
      @include font3;
      margin: 0;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover{
        border: 1px solid #B8BCC3;
        box-sizing: border-box;
        border-radius: 6px;
      }
    }
    .yes{
      margin-right: 10px;
    }
  }
}

.number_selector{
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  .numbers{
    background: #F9F9F9;
    border-radius: 3px;
    padding: 9px;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
    p{
      margin-right: 18px;
    }
    .arrow{
      cursor: pointer;
    }
  }
  .options{
    display: none;
    border: 1px solid #F9F9F9;
    border-radius: 5px;
    width: 53px;
    margin-left: 4px;
    text-align: center;
    p{
      margin: 2px 0;
      cursor: pointer;
      &:hover{
        background: #F9F9F9;
      }
    }
  }
}

@media (max-width: 1087px){
  .downloads{
    display: block;
    .photos, .videos, .drawings{
      width: 100% !important;
      display: flex;
      flex-direction: column;

    }
    .videos{
      margin: 20px 0;
    }
  }

  .next_day{
    margin-top: 25px;
    margin-left: -240px;
  }

  .piople{
    p{

    }
  }

  .checboxes_page2{
    flex-direction: column !important;
    .tools, .accommodation, .workwear, .transportation, .food{
      width: 100%;
      .title{
      }
      .radio_block{
        margin-bottom: 3px;
        /* для элемента input c type="radio" */
        .custom-radio {
          position: absolute;
          z-index: -1;
          opacity: 0;
        }
        /* для элемента label связанного с .custom-radio */
        .custom-radio+label {
          display: inline-flex;
          user-select: none;
          color: #BEC0C2;
          font-size: 15px;
          line-height: 18px;
        }
        /* создание в label псевдоэлемента  before со следующими стилями */
        .custom-radio+label::before {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          flex-shrink: 0;
          flex-grow: 0;
          background: #F9F9F9;
          border: 1px solid #EEF0F1;
          box-sizing: border-box;
          border-radius: 50%;
          margin-right: 0.5em;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
        }
        /* стили при наведении курсора на радио */
        .custom-radio:not(:disabled):not(:checked)+label:hover::before {
          border-color: #b3d7ff;
        }
        /* стили для активной радиокнопки (при нажатии на неё) */
        .custom-radio:not(:disabled):active+label::before {
          background-color: #b3d7ff;
          border-color: #b3d7ff;
        }
        /* стили для радиокнопки, находящейся в фокусе */
        .custom-radio:focus+label::before {
        }
        /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
        .custom-radio:focus:not(:checked)+label::before {
          border-color: #80bdff;
        }
        /* стили для радиокнопки, находящейся в состоянии checked */
        .custom-radio:checked+label::before {
          border-color: white;
          background: linear-gradient(45deg, #61ADE5 0%, #8FC9F3 100%);
          box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.08);
        }
        /* стили для радиокнопки, находящейся в состоянии disabled */
        .custom-radio:disabled+label::before {
          background-color: #e9ecef;
        }
      }
    }
    .transportation, .food{
      margin-top: 30px;
    }
  }

  .specialization_search{
    flex-direction: row !important;

  }

  .numbers_descriptions{
    display: none;
  }

  .numbers{
    display: flex;
    margin-top: 40px;
    .page_number_discription{
      .page_number{
        width: 50px;
        height: 50px;
        border-radius: 30px;
        border: 1px dashed #DFE1E3;
        box-sizing: border-box;
        color: #DFE1E3;
        padding: 11px;
        text-align: center;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        img{
          margin-left: 1px;
        }
      }
    }
    .page_number_discription.active{
      .page_number{
        color: #61ADE5;
        border: 1px dashed #61ADE5;
      }
    }
    .dashed_line{
      height: 1px;
      width: 100% !important;
      margin: 25px 0;
      border: 1px dashed #DFE1E3;
    }
  }

  .next_page{
    display: block;
  }

  .subtypes{
    display: block;
    .second_block{
      margin-left: 0;
      margin-top: 25px;
    }
  }

  .object_infopmation_block{
    .title{
      display: flex;
      .name{
        margin-right: 3px;
        display: inline-block;
        width: 140px;
        @include font9;
      }
      .desk{
        color: #AAACAE;
        @include font5;
      }
    }
    .inputs_block{
      display: block !important;
      margin-top: 19px;
      display: flex;
      .new_password_input{
        position: relative;
        width: 100%;
        @include input;

      }
      .adress{
        margin-top: 15px;
        margin-left: 0;
      }
    }
  }

  .required_number_people{
    .new_password_block_inputs{
      display: flex;
      flex-direction: column;
      p{
        margin: 15px 9px 0 9px;
      }
      .new_password_input{
        position: relative;
        width: 80px;
        input{
          background: #F9F9F9;
          border-radius: 6px;
          width: 80px;
          height: 48px;
          padding: 16px 20px;
          // transition: .3s ease;
        }
      }
      .col_element{
        display: flex;
        margin-left: auto;
        margin-top: auto;
        width: 100%;
        margin-top: 15px;
        .check{
          .custom-checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
          }
          .custom-checkbox+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
            color: #BEC0C2;
            margin-top: 2px;
            @include font4;
          }
          .custom-checkbox+label::before {
            content: '';
            display: inline-block;
            flex-shrink: 0;
            flex-grow: 0;
            background: #F9F9F9;
            border: 1px solid #EEF0F1;
            box-sizing: border-box;
            border-radius: 3px;
            margin-right: 9px;
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
          }
          .custom-checkbox:checked+label::before {
            box-shadow: 0px 1px 10px rgba(86, 165, 223, 0.15);
            background-color: #61ADE5;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
          }
        }
      }
    }
  }

  .handymen, .completion_date, .advance_payment, .payment_for_work{
    .radios{
      display: flex;
      flex-direction: column;
      .radio_block{
        margin-bottom: 11px;
      }
    }
  }

  .shift_work{
    .title{
      color: #273142;
      @include font9;
    }
    .answer{
      display: flex;
      .yes, .no{
        width: 50%;
        text-align: center;
      }
      .yes{
        margin-right: 10px;
      }
    }
  }

  .add_job_type{
    width: 100%;
    margin-top: 27px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.035);
    border-radius: 6px;
    .info{
      display: flex;
      flex-direction: column;
      .type_work, .quantity, .cash, .cash_selector{
        width: 100%;
      }
      .type_work{
        .new_password_input{
          position: relative;
          width: 100%;
          @include input;

        }
      }
      .quantity, .cash{
        margin-top: 20px;
        margin-left: 0;
        .new_password_input{
          position: relative;
          width: 100%;
          @include input;
          p{
            @include font3;
            color: #273142;
            position: absolute;
            top: 35px;
            right: 20px;
            z-index: 9999;
            transition: .3s ease;
            display: none;
            &:hover{
              cursor: pointer;
            }
          }
          p.active{
            display: block;
          }
        }
      }
      .quantity{
        display: flex;
        @include select
      }
      .cash_selector{
        display: flex;
        justify-content: space-between;
        @include select2;
        p{
          margin: 0px;
        }
        .on{
          margin-top: 20px;
        }
      }

    }
  }
  .type_work2{
    width: 100% !important;
  }
  .label_span{
    display: none;
  }
}

@media (max-width: 1280px){
  .numbers{
    .dashed_line{
      width: 115px;
    }
  }
}
