@mixin two_param{
  .main_navigation{
    display: flex;
    .main{
      @include font1;
      color: #273142;
      margin-right: 10px;
    }
    .applications{
      @include font1;
      color: #BEC0C2;
      margin-left: 10px;
    }
  }
}
@mixin two_param_2{
  .main_navigation{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    img{
      transform: rotate(180deg);
      margin-right: 8px;
    }
    .applications{
      display: none;
    }
  }
}


@mixin three_param{
  .main_navigation{
    display: flex;
    .main, .application, .workspace_number{
      @include font1;
      color: #273142;
      margin-right: 10px;
    }
    .application, .workspace_number{
      margin-left: 10px;
    }
    .profile{
      @include font1;
      color: #BEC0C2;
      margin-left: 10px;
    }
  }
}

@mixin three_param_2{
  @media (max-width: 1087px) {
    .main_navigation{
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      .second_arrow{
        transform: rotate(180deg);
        margin-right: -2px;
      }
      .profile, .main, .first_arrow, .workspace_number{
        display: none;
      }
    }
  }
}
