@charset "UTF-8";
@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: url("../fonts/SF-UI-Display-Regular.eot");
  src: local("☺"), url("../fonts/SF-UI-Display-Regular.woff") format("woff"), url("../fonts/SF-UI-Display-Regular.ttf") format("truetype"), url("../fonts/SF-UI-Display-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important; }

body {
  background-color: #FCFCFC; }

header {
  background-color: white; }

a {
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }

.logo {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #273142;
  font-family: Roboto, sans-serif; }

.category {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #273142;
  font-family: Gilroy;
  padding: 0;
  margin: 0 20px; }
  .category:hover {
    color: #61ADE5 !important;
    background-color: white !important; }

.search {
  border: 0;
  background: -webkit-linear-gradient(5.52deg, #61ADE6 0%, #8FCBF6 100%);
  background: -o-linear-gradient(5.52deg, #61ADE6 0%, #8FCBF6 100%);
  background: linear-gradient(84.48deg, #61ADE6 0%, #8FCBF6 100%);
  -webkit-box-shadow: 0px 2px 15px rgba(97, 173, 229, 0.3);
  box-shadow: 0px 2px 15px rgba(97, 173, 229, 0.3);
  border-radius: 6px;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 14px 25px;
  height: 46px;
  font-family: Gilroy; }
  .search:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #61ADE6), to(#8FCBF6));
    background: -webkit-linear-gradient(#61ADE6 100%, #8FCBF6 100%);
    background: -o-linear-gradient(#61ADE6 100%, #8FCBF6 100%);
    background: linear-gradient(#61ADE6 100%, #8FCBF6 100%);
    color: white; }

.top {
  border: 0;
  background: -webkit-linear-gradient(3.1deg, #6CD196 0%, #8EE9B4 100%);
  background: -o-linear-gradient(3.1deg, #6CD196 0%, #8EE9B4 100%);
  background: linear-gradient(86.9deg, #6CD196 0%, #8EE9B4 100%);
  -webkit-box-shadow: 0px 2px 15px rgba(108, 209, 150, 0.3);
  box-shadow: 0px 2px 15px rgba(108, 209, 150, 0.3);
  border-radius: 6px;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 14px 25px;
  height: 46px;
  font-family: Gilroy; }
  .top:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #6CD196), color-stop(0%, #8EE9B4));
    background: -webkit-linear-gradient(#6CD196 100%, #8EE9B4 0%);
    background: -o-linear-gradient(#6CD196 100%, #8EE9B4 0%);
    background: linear-gradient(#6CD196 100%, #8EE9B4 0%);
    color: white; }

.sign-in {
  border: 1px solid #F0F0F0;
  background: #FDFDFD;
  border-radius: 6px;
  font-size: 15px;
  line-height: 18px;
  color: #273142;
  padding: 14px 25px;
  height: 46px;
  font-family: Gilroy; }
  .sign-in:hover {
    border: 1px solid #B8BCC3; }

.buttons {
  margin-right: 25px; }

.vertical_line {
  width: 1px;
  height: 46px;
  background-color: #F0F0F0;
  margin-top: -7px;
  margin-left: 17px; }

.message {
  border: 0;
  background-color: white;
  padding: 0;
  margin: 0 10px 0 25px; }
  .message img {
    max-height: none;
    width: 45px; }

.avatar {
  border: 0;
  background-color: white;
  padding: 0; }
  .avatar img {
    max-height: none;
    width: 45px; }

.header_selector {
  border: 0;
  background-color: white;
  padding: 0; }
  .header_selector img {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.header_dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header_dropdown:hover {
    background: white !important;
    color: #61ADE5 !important; }
  .header_dropdown p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #273142;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    margin: 5px 0 0 10px; }
    .header_dropdown p:hover {
      color: #61ADE5 !important; }

.navbar-burger:hover {
  background-color: white; }

.horizontal_line {
  width: 100%;
  border: 1px solid #F5F5F5;
  margin: 27px 0; }

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.first_footer_block {
  background: #273242;
  padding: 30px 0; }
  .first_footer_block .footer_logo {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF; }
  .first_footer_block .footer_context {
    font-family: SF UI Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #888E97;
    margin-top: 8px; }

.second_footer_block {
  background: #212B39;
  text-align: center;
  padding: 20px 0;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #888E97; }

.first_footer_block_column2 {
  text-align: center;
  margin-top: 10px; }
  .first_footer_block_column2 a {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 0 15px; }

.first_footer_block_column3 {
  text-align: right; }
  .first_footer_block_column3 .first_context {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #888E97; }
  .first_footer_block_column3 .second_context {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 16px; }

@media (max-width: 1087px) {
  header {
    padding: 0 23px; }
  .navbar-item {
    padding: 0; }
  .navbar-menu {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .category {
    font-size: 20px;
    line-height: 24px;
    margin: 17px 0; }
  .search {
    width: 100%;
    margin-top: 63px; }
  .top {
    width: 100%;
    margin-top: 15px; }
  .sign-in {
    width: 100%;
    margin-top: 15px; }
  .navbar-menu {
    padding-top: 63px; }
  .footer_content {
    display: block; }
  .first_footer_block {
    padding: 23px; }
  .first_footer_block_column2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    margin-top: 35px; }
    .first_footer_block_column2 a {
      margin: 5px 0; }
  .first_footer_block_column3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    margin-top: 35px; }
    .first_footer_block_column3 .first_context_block {
      margin-right: 30px; } }

.footer_a:hover {
  color: rgba(255, 255, 255, 0.6); }

@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: url("../fonts/SF-UI-Display-Regular.eot");
  src: local("☺"), url("../fonts/SF-UI-Display-Regular.woff") format("woff"), url("../fonts/SF-UI-Display-Regular.ttf") format("truetype"), url("../fonts/SF-UI-Display-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

main {
  padding: 30px 0;
  background-color: #FCFCFC; }

footer {
  margin-top: auto; }

.hr {
  background: #F8F8F8;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px; }

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

::-webkit-input-placeholder {
  color: #bec0c2;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 17px; }

::-moz-input-placeholder {
  color: #bec0c2;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 17px; }

:-ms-input-placeholder {
  color: #bec0c2;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 17px; }

.main_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main_navigation .main {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #273142;
    margin-right: 10px; }
  .main_navigation .log-in_nav {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #BEC0C2;
    margin-left: 10px; }

.log-in_content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 30px; }
  .log-in_content .title .title_main {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 35px;
    line-height: 37px;
    color: #273142;
    margin-right: 25px; }
  .log-in_content .title .title_sub {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #BEC0C2;
    margin-top: 17px; }
    .log-in_content .title .title_sub:hover {
      color: #273142; }

.log-in_content .title-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 30px; }
  .log-in_content .title-2 .title_main {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 35px;
    line-height: 37px;
    color: #273142;
    margin-right: 25px;
    margin-bottom: 13px; }
  .log-in_content .title-2 .title_text {
    font-family: "SF UI Display";
    font-weight: 200;
    font-size: 15px;
    line-height: 22px;
    color: #808896; }

.log-in_content .verification_code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .log-in_content .verification_code .code {
    width: 45px;
    height: 55px;
    background: #fff;
    border: 1px dashed #DEDEDE;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
    color: #273142; }
    .log-in_content .verification_code .code:focus {
      outline: 0; }

.log-in_content .log-in_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .log-in_content .log-in_block .change_buttons {
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto; }
    .log-in_content .log-in_block .change_buttons .log-in {
      padding: 14px 77px;
      background: #fff; }
    .log-in_content .log-in_block .change_buttons .disable {
      background: #F8F8F8;
      color: #BEC0C2; }
      .log-in_content .log-in_block .change_buttons .disable:hover {
        background: #fff;
        color: #273142; }
      .log-in_content .log-in_block .change_buttons .disable:focus {
        background: #FDFDFD;
        color: #273142; }
  .log-in_content .log-in_block .main_block-2 {
    margin-bottom: 90px; }
  .log-in_content .log-in_block .main_block {
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.02);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 512px; }
    .log-in_content .log-in_block .main_block .input_email {
      width: 100%;
      height: 46px;
      background: #F9F9F9;
      border-radius: 6px;
      border: 1px solid #EEF0F1;
      padding: 15px 20px; }
      .log-in_content .log-in_block .main_block .input_email:focus {
        outline: none;
        background: #fff; }
    .log-in_content .log-in_block .main_block .input_password {
      width: 100%;
      height: 46px;
      background: #F9F9F9;
      border-radius: 6px;
      border: 1px solid #EEF0F1;
      padding: 15px 20px; }
      .log-in_content .log-in_block .main_block .input_password:focus {
        outline: none;
        background: #fff; }
    .log-in_content .log-in_block .main_block .input_read {
      width: 100%;
      height: 46px;
      background: -webkit-repeating-linear-gradient(150deg, #EEF0F1 0, #EEF0F1 1px, transparent 1px, transparent 10px);
      background: -o-repeating-linear-gradient(150deg, #EEF0F1 0, #EEF0F1 1px, transparent 1px, transparent 10px);
      background: repeating-linear-gradient(-60deg, #EEF0F1 0, #EEF0F1 1px, transparent 1px, transparent 10px);
      border-radius: 6px;
      border: 1px solid #EEF0F1;
      padding: 15px 20px; }
      .log-in_content .log-in_block .main_block .input_read:focus {
        outline: none; }
    .log-in_content .log-in_block .main_block .checkbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 20px; }
      .log-in_content .log-in_block .main_block .checkbox .custom-checkbox {
        width: 20px;
        height: 20px;
        border: none;
        position: absolute;
        z-index: -1;
        opacity: 0; }
    .log-in_content .log-in_block .main_block .main-block_buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
      .log-in_content .log-in_block .main_block .main-block_buttons .log-in_button {
        border-radius: 50px;
        width: 194px; }
      .log-in_content .log-in_block .main_block .main-block_buttons .forget_pass {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #BEC0C2;
        position: absolute;
        right: 0;
        top: 14px; }
        .log-in_content .log-in_block .main_block .main-block_buttons .forget_pass:hover {
          color: #273142; }
    .log-in_content .log-in_block .main_block .log-in_with {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
      .log-in_content .log-in_block .main_block .log-in_with .log-in_society {
        font-family: Gilroy;
        font-size: 15px;
        line-height: 18px;
        margin-right: 20px; }
      .log-in_content .log-in_block .main_block .log-in_with .log-in_society-2 {
        left: 150px !important; }
      .log-in_content .log-in_block .main_block .log-in_with .society {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 15px;
        margin-bottom: 4px;
        position: absolute;
        left: 110px;
        bottom: -15px; }
      .log-in_content .log-in_block .main_block .log-in_with .society-2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 15px;
        margin-bottom: 4px;
        position: absolute;
        left: 220px;
        bottom: -15px; }
      .log-in_content .log-in_block .main_block .log-in_with .fa-vk {
        border: 1px solid #F8F8F8;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 50%;
        color: #4B76A8;
        margin-right: 10px;
        padding: 10px 10px; }
      .log-in_content .log-in_block .main_block .log-in_with .fa-odnoklassniki {
        border: 1px solid #F8F8F8;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 50%;
        color: #EE810D;
        margin-right: 10px;
        padding: 10px 13px; }
      .log-in_content .log-in_block .main_block .log-in_with .fa-facebook-f {
        border: 1px solid #F8F8F8;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 50%;
        color: #1B77F2;
        margin-right: 10px;
        padding: 10px 15px; }
      .log-in_content .log-in_block .main_block .log-in_with .fa-instagram {
        border: 1px solid #F8F8F8;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 50%;
        margin-right: 10px;
        padding: 10px 11px; }
      .log-in_content .log-in_block .main_block .log-in_with .gradient-icon {
        background: -webkit-linear-gradient(45deg, #FFC107 9.15%, #F44336 50.57%, #9C27B0 90.03%);
        background: -o-linear-gradient(45deg, #FFC107 9.15%, #F44336 50.57%, #9C27B0 90.03%);
        background: linear-gradient(45deg, #FFC107 9.15%, #F44336 50.57%, #9C27B0 90.03%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }

.row {
  position: relative; }
  .row .read {
    color: #273142 !important; }
  .row label {
    display: block;
    -webkit-transform: translateY(-1.9rem) translateX(15px);
    -ms-transform: translateY(-1.9rem) translateX(15px);
    transform: translateY(-1.9rem) translateX(15px);
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    width: 271px;
    font-family: Gilroy;
    font-size: 15px;
    line-height: 17px;
    color: #CDD0D3; }
  .row .show_pass {
    position: absolute;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #273142;
    z-index: 1;
    right: 15px;
    top: 15px;
    cursor: pointer; }

.row input:focus + label,
.row input:valid + label {
  -webkit-transform: translateY(-3.25rem) translateX(15px);
  -ms-transform: translateY(-3.25rem) translateX(15px);
  transform: translateY(-3.25rem) translateX(15px);
  font-size: 12px;
  line-height: 14px; }

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background: #F9F9F9;
  border: 1px solid #EEF0F1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 11px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%; }

.custom-checkbox:checked + label::before {
  -webkit-box-shadow: 0px 1px 10px rgba(86, 165, 223, 0.15);
  box-shadow: 0px 1px 10px rgba(86, 165, 223, 0.15);
  background-color: #61ADE5;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"); }

.check_text {
  display: inline-block;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #273142;
  position: absolute;
  top: 2px; }

.button_reg {
  width: 100%; }

@media (max-width: 359px) {
  .log-in {
    width: 100% !important; } }

@media (max-width: 1087px) {
  main {
    padding: 30px 23px; }
  .main_navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .main_navigation img {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      margin-right: 8px; }
  .title_main {
    width: auto; }
  .none-mob {
    display: none; }
  .main_block {
    width: 100% !important;
    padding: 15px !important; }
  .main-block_buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main-block_buttons .log-in_button {
      width: 100% !important;
      margin-top: 0;
      margin-bottom: 18px; }
    .main-block_buttons .forget_pass {
      position: static !important;
      margin-left: auto;
      margin-right: auto; }
  .log-in {
    width: auto;
    padding: 14px 25px !important; }
  .hr {
    margin-top: 20px;
    margin-bottom: 20px; }
  .log-in_with {
    display: block !important;
    text-align: center; }
    .log-in_with .society {
      position: static !important;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 15px; }
  .button_reg {
    margin-top: 0; } }
